    @import url('https://fonts.googleapis.com/css?family=Montserrat');
#button-container {
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: Montserrat;
}
body {
    background-color: black;
<font color="red">The end of the World</font>
}